/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  /* 垂直滚动条宽度 */
  height: 8px;
  /* 水平滚动条高度 */
}

/* 滚动条轨道（背景） */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 浅灰色轨道 */
  border-radius: 4px;
}

/* 滚动条滑块（可拖动部分） */
::-webkit-scrollbar-thumb {
  background: rgba(79, 70, 229, 0.7);
  /* indigo-600 */
  border-radius: 4px;
}

/* 滚动条滑块悬停状态 */
::-webkit-scrollbar-thumb:hover {
  background: rgba(79, 70, 229, 0.7);
  /* indigo-700 */
}